@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<h1>The Pilch-Bisson Family</h1>
<p>Welcome!</p>
